
@media (min-width:800px){
  .btnopen{
    display:none;
  }
}.form-v{
  display: inline;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
    
 }
  .price-oculto{
    position: absolute;
    color: black;
    left: -60px;
    padding: 12px;
    height: 220px;
    margin-bottom: 10px;
    background-color: #ffffff;
  }.price-oculto input{
    position: relative;
    width: 150px;
    padding: 5px;
    margin-top: 20px;
  }.btnPrice{
    display: inline-block;
    margin-top: 20px;
    
   

  }.btnClose{
    float: right;
  }